@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bs-primary-rgb: 251, 159, 26;
    --bs-light-rgb: 254,250,242;
    --bs-dark-rgb: 33, 26, 65;
}

body {
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, #FCF9FA, #F9F9FB);
    min-height: 100vh;
    margin-bottom: 100px;
    color: #211A41;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #211A41;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }